:root {
  color-scheme: light dark;

  --clr-text-l: #555;
  --clr-text-d: #ccc;
  --text-color: light-dark(var(--clr-text-l), var(--clr-text-d));
  --bg-color: unset;
  --heading-color-adj: 23; /* relative difference in brightness (hsb) between text and heading colors */
  --clr-hx-ll: min(0, calc(l - var(--heading-color-adj)));
  --clr-hx-ld: max(calc(l + var(--heading-color-adj)), 100);
  --l-h-color: hsl(from var(--clr-text-l) h s var(--clr-hx-ll));
  --d-h-color: hsl(from var(--clr-text-d) h s var(--clr-hx-ld));
  --heading-color: light-dark(var(--l-h-color), var(--d-h-color));
  --clr-link-l: #267CB9;
  --clr-hlink-l: #003c66;
  --clr-link-d: #AAD3EE;
  --clr-hlink-d: #0A99FF;
  --link-color: light-dark(var(--clr-link-l), var(--clr-link-d));
  --hlink-color: light-dark(var(--clr-hlink-l), var(--clr-hlink-d));
  --clr-nbsh: clamp(0, calc(l / 2), 100);
  --nav-sh-base: 0.25ch;
  --nav-sh-offset: var(--nav-sh-base);
  --nav-sh-blur: calc(2 * var(--nav-sh-base));
  --nav-li-shadow: var(--nav-sh-offset) var(--nav-sh-offset) var(--nav-sh-blur) var(--text-color);
  --nav-sh-base-2: 0.1ch;
  --nav-sh-offset-2: calc(var(--nav-sh-base-2) * 2);
  --nav-sh-blur-2: calc(2 * var(--nav-sh-base-2));
  --nav-hvsh-color: var(--text-color);
  --nav-li-shadow-2: var(--nav-sh-offset-2) var(--nav-sh-offset-2) var(--nav-sh-blur-2) inset var(--nav-hvsh-color);
  --nav-li-sh-hover: var(--nav-li-shadow), var(--nav-li-shadow-2);
  --base-hover-tf: scale(1.08) translateY(calc(-0.2 * 1ch));
  --fallback-fonts: 'Noto Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--bg-color);
  padding: 0 50px;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  height: 100%;
  font-size: 1rem;
  font-family: 'Exo 2', var(--fallback-fonts);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 500;
}

header,
section,
footer {
  width: unset;
  float: unset;
  position: unset;
}

header {
  font-weight: 400;
}


.wrapper > header, main > * {
  padding: 2rem;
}

.wrapper > * {
  min-height: inherit;
  height: inherit;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  min-height: inherit;
  height: inherit;
}

.wrapper footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin: auto;
  width: 100%;
  min-width: max-content;
  min-height: fit-content;
  max-height: max-content;
  grid-column: 1 / span 2;
  font-size: 75%;
}

.wrapper footer p {
  margin: auto;
}

.wrapper footer time {
  font-weight: 700;
}

.wrapper header nav {
  margin: auto;
  font-family: 'Genos', var(--fallback-fonts);
}

.wrapper header nav > ul {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: max-content;
  justify-content: center;
  gap: 1ch;
  width: 100%;

  list-style-type: none;
  padding: 0;
  font-size: 1.4em;

  li {
    border-radius: 1.5ch;
    box-shadow: var(--nav-li-shadow);
    padding: 0.33ch 1ch;
    min-width: max-content;
    max-width: 100%;

    transition-property: transform, color, box-shadow;
    transition: 0.1s linear;

    a, a:hover {
      transform: none;
    }
  }

  li:has(a[href]):hover {
    cursor: pointer;
    transform: var(--base-hover-tf);
    box-shadow: var(--nav-li-shadow-2), var(--nav-sh-offset-2) var(--nav-sh-offset-2) calc(var(--nav-sh-blur-2) / 2) var(--nav-hvsh-color);
  }
}

.wrapper header h1 {
  font-family: 'Orbitron', var(--fallback-fonts);
  margin-bottom: 0.125em;
}

header.side h1 {
  text-align: right;
  font-weight: 900;
  font-size: 1.8em;
}

.subhead {
  font-family: 'Genos', var(--fallback-fonts);
  font-weight: 400;
  line-height: 85%;
}

a, a:hover, a:focus {
  font-weight: unset;
}

a {
  color: var(--link-color);
  transition-property: color, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  display: inline-block;
}

a:hover, a:focus, nav li:hover a {
  color: var(--hlink-color);
  transform: var(--base-hover-tf);
}

