:root {
  --lr-ref-palette-white: hsl(0, 0%, 100% / 1.0);
  --lr-ref-palette-white-a80: hsl(0, 0%, 100% / 0.8);
  --lr-ref-palette-white-a60: hsl(0, 0%, 100% / 0.6);
  --lr-ref-palette-white-a40: hsl(0, 0%, 100% / 0.4);
  --lr-ref-palette-white-a20: hsl(0, 0%, 100% / 0.2);

  --lr-ref-palette-black: hsl(0, 0%, 0% / 1.0);
  --lr-ref-palette-black-a80: hsl(0, 0%, 0% / 0.8);
  --lr-ref-palette-black-a60: hsl(0, 0%, 0% / 0.6);
  --lr-ref-palette-black-a40: hsl(0, 0%, 0% / 0.4);
  --lr-ref-palette-black-a20: hsl(0, 0%, 0% / 0.2);

  --lr-ref-palette-neutral0: hsl(180 8% 0% / 1.0 );
  --lr-ref-palette-neutral10: hsl(180 8% 6% / 1.0 );
  --lr-ref-palette-neutral20: hsl(183 8% 13% / 1.0 );
  --lr-ref-palette-neutral30: hsl(180 8% 19% / 1.0 );
  --lr-ref-palette-neutral40: hsl(180 8% 27% / 1.0 );
  --lr-ref-palette-neutral50: hsl(180 8% 34% / 1.0 );
  --lr-ref-palette-neutral60: hsl(180 8% 40% / 1.0 );
  --lr-ref-palette-neutral70: hsl(180 8% 52% / 1.0 );
  --lr-ref-palette-neutral80: hsl(180 8% 61% / 1.0 );
  --lr-ref-palette-neutral90: hsl(180 8% 71% / 1.0 );
  --lr-ref-palette-neutral95: hsl(180 8% 80% / 1.0 );
  --lr-ref-palette-neutral99: hsl(180 8% 90% / 1.0 );
  --lr-ref-palette-neutral10-a80: hsl(180 8% 6% / 0.8 );
  --lr-ref-palette-neutral20-a80: hsl(183 8% 13% / 0.8 );
  --lr-ref-palette-neutral30-a80: hsl(180 8% 19% / 0.8 );
  --lr-ref-palette-neutral40-a80: hsl(180 8% 27% / 0.8 );
  --lr-ref-palette-neutral50-a80: hsl(180 8% 34% / 0.8 );
  --lr-ref-palette-neutral60-a80: hsl(180 8% 40% / 0.8 );
  --lr-ref-palette-neutral70-a80: hsl(180 8% 52% / 0.8 );
  --lr-ref-palette-neutral80-a80: hsl(180 8% 61% / 0.8 );
  --lr-ref-palette-neutral90-a80: hsl(180 8% 71% / 0.8 );
  --lr-ref-palette-neutral95-a80: hsl(180 8% 80% / 0.8 );
  --lr-ref-palette-neutral99-a80: hsl(180 8% 90% / 0.8 );
  --lr-ref-palette-neutral10-a60: hsl(180 8% 6% / 0.6 );
  --lr-ref-palette-neutral20-a60: hsl(183 8% 13% / 0.6 );
  --lr-ref-palette-neutral30-a60: hsl(180 8% 19% / 0.6 );
  --lr-ref-palette-neutral40-a60: hsl(180 8% 27% / 0.6 );
  --lr-ref-palette-neutral50-a60: hsl(180 8% 34% / 0.6 );
  --lr-ref-palette-neutral60-a60: hsl(180 8% 40% / 0.6 );
  --lr-ref-palette-neutral70-a60: hsl(180 8% 52% / 0.6 );
  --lr-ref-palette-neutral80-a60: hsl(180 8% 61% / 0.6 );
  --lr-ref-palette-neutral90-a60: hsl(180 8% 71% / 0.6 );
  --lr-ref-palette-neutral95-a60: hsl(180 8% 80% / 0.6 );
  --lr-ref-palette-neutral99-a60: hsl(180 8% 90% / 0.6 );
  --lr-ref-palette-neutral10-a40: hsl(180 8% 6% / 0.4 );
  --lr-ref-palette-neutral20-a40: hsl(183 8% 13% / 0.4 );
  --lr-ref-palette-neutral30-a40: hsl(180 8% 19% / 0.4 );
  --lr-ref-palette-neutral40-a40: hsl(180 8% 27% / 0.4 );
  --lr-ref-palette-neutral50-a40: hsl(180 8% 34% / 0.4 );
  --lr-ref-palette-neutral60-a40: hsl(180 8% 40% / 0.4 );
  --lr-ref-palette-neutral70-a40: hsl(180 8% 52% / 0.4 );
  --lr-ref-palette-neutral80-a40: hsl(180 8% 61% / 0.4 );
  --lr-ref-palette-neutral90-a40: hsl(180 8% 71% / 0.4 );
  --lr-ref-palette-neutral95-a40: hsl(180 8% 80% / 0.4 );
  --lr-ref-palette-neutral99-a40: hsl(180 8% 90% / 0.4 );
  --lr-ref-palette-neutral10-a20: hsl(180 8% 6% / 0.2 );
  --lr-ref-palette-neutral20-a20: hsl(183 8% 13% / 0.2 );
  --lr-ref-palette-neutral30-a20: hsl(180 8% 19% / 0.2 );
  --lr-ref-palette-neutral40-a20: hsl(180 8% 27% / 0.2 );
  --lr-ref-palette-neutral50-a20: hsl(180 8% 34% / 0.2 );
  --lr-ref-palette-neutral60-a20: hsl(180 8% 40% / 0.2 );
  --lr-ref-palette-neutral70-a20: hsl(180 8% 52% / 0.2 );
  --lr-ref-palette-neutral80-a20: hsl(180 8% 61% / 0.2 );
  --lr-ref-palette-neutral90-a20: hsl(180 8% 71% / 0.2 );
  --lr-ref-palette-neutral95-a20: hsl(180 8% 80% / 0.2 );
  --lr-ref-palette-neutral99-a20: hsl(180 8% 90% / 0.2 );

  --lr-ref-palette-neutral-variant10: hsl(10 12% 12% / 1.0 );
  --lr-ref-palette-neutral-variant20: hsl(10 12% 22% / 1.0 );
  --lr-ref-palette-neutral-variant30: hsl(10 12% 31% / 1.0 );
  --lr-ref-palette-neutral-variant40: hsl(10 12% 41% / 1.0 );
  --lr-ref-palette-neutral-variant50: hsl(10 12% 50% / 1.0 );
  --lr-ref-palette-neutral-variant60: hsl(10 12% 59% / 1.0 );
  --lr-ref-palette-neutral-variant70: hsl(10 12% 69% / 1.0 );
  --lr-ref-palette-neutral-variant80: hsl(10 12% 79% / 1.0 );
  --lr-ref-palette-neutral-variant90: hsl(10 12% 88% / 1.0 );
  --lr-ref-palette-neutral-variant95: hsl(10 12% 94% / 1.0 );
  --lr-ref-palette-neutral-variant99: hsl(10 12% 98% / 1.0 );
  --lr-ref-palette-neutral-variant10-a80: hsl(10 12% 12% / 0.8 );
  --lr-ref-palette-neutral-variant20-a80: hsl(10 8% 22% / 0.8 );
  --lr-ref-palette-neutral-variant30-a80: hsl(10 12% 31% / 0.8 );
  --lr-ref-palette-neutral-variant40-a80: hsl(10 12% 41% / 0.8 );
  --lr-ref-palette-neutral-variant50-a80: hsl(10 12% 50% / 0.8 );
  --lr-ref-palette-neutral-variant60-a80: hsl(10 12% 59% / 0.8 );
  --lr-ref-palette-neutral-variant70-a80: hsl(10 12% 69% / 0.8 );
  --lr-ref-palette-neutral-variant80-a80: hsl(10 12% 79% / 0.8 );
  --lr-ref-palette-neutral-variant90-a80: hsl(10 12% 88% / 0.8 );
  --lr-ref-palette-neutral-variant95-a80: hsl(10 12% 94% / 0.8 );
  --lr-ref-palette-neutral-variant99-a80: hsl(10 12% 98% / 0.8 );
  --lr-ref-palette-neutral-variant10-a60: hsl(10 12% 12% / 0.6 );
  --lr-ref-palette-neutral-variant20-a60: hsl(10 8% 22% / 0.6 );
  --lr-ref-palette-neutral-variant30-a60: hsl(10 12% 31% / 0.6 );
  --lr-ref-palette-neutral-variant40-a60: hsl(10 12% 41% / 0.6 );
  --lr-ref-palette-neutral-variant50-a60: hsl(10 12% 50% / 0.6 );
  --lr-ref-palette-neutral-variant60-a60: hsl(10 12% 59% / 0.6 );
  --lr-ref-palette-neutral-variant70-a60: hsl(10 12% 69% / 0.6 );
  --lr-ref-palette-neutral-variant80-a60: hsl(10 12% 79% / 0.6 );
  --lr-ref-palette-neutral-variant90-a60: hsl(10 12% 88% / 0.6 );
  --lr-ref-palette-neutral-variant95-a60: hsl(10 12% 94% / 0.6 );
  --lr-ref-palette-neutral-variant99-a60: hsl(10 12% 98% / 0.6 );
  --lr-ref-palette-neutral-variant10-a40: hsl(10 12% 12% / 0.4 );
  --lr-ref-palette-neutral-variant20-a40: hsl(10 8% 22% / 0.4 );
  --lr-ref-palette-neutral-variant30-a40: hsl(10 12% 31% / 0.4 );
  --lr-ref-palette-neutral-variant40-a40: hsl(10 12% 41% / 0.4 );
  --lr-ref-palette-neutral-variant50-a40: hsl(10 12% 50% / 0.4 );
  --lr-ref-palette-neutral-variant60-a40: hsl(10 12% 59% / 0.4 );
  --lr-ref-palette-neutral-variant70-a40: hsl(10 12% 69% / 0.4 );
  --lr-ref-palette-neutral-variant80-a40: hsl(10 12% 79% / 0.4 );
  --lr-ref-palette-neutral-variant90-a40: hsl(10 12% 88% / 0.4 );
  --lr-ref-palette-neutral-variant95-a40: hsl(10 12% 94% / 0.4 );
  --lr-ref-palette-neutral-variant99-a40: hsl(10 12% 98% / 0.4 );
  --lr-ref-palette-neutral-variant10-a20: hsl(10 12% 12% / 0.2 );
  --lr-ref-palette-neutral-variant20-a20: hsl(10 8% 22% / 0.2 );
  --lr-ref-palette-neutral-variant30-a20: hsl(10 12% 31% / 0.2 );
  --lr-ref-palette-neutral-variant40-a20: hsl(10 12% 41% / 0.2 );
  --lr-ref-palette-neutral-variant50-a20: hsl(10 12% 50% / 0.2 );
  --lr-ref-palette-neutral-variant60-a20: hsl(10 12% 59% / 0.2 );
  --lr-ref-palette-neutral-variant70-a20: hsl(10 12% 69% / 0.2 );
  --lr-ref-palette-neutral-variant80-a20: hsl(10 12% 79% / 0.2 );
  --lr-ref-palette-neutral-variant90-a20: hsl(10 12% 88% / 0.2 );
  --lr-ref-palette-neutral-variant95-a20: hsl(10 12% 94% / 0.2 );
  --lr-ref-palette-neutral-variant99-a20: hsl(10 12% 98% / 0.2 );

  --lr-ref-palette-primary10: hsl(190 50% 18% / 1.0 );
  --lr-ref-palette-primary20: hsl(195 62% 32% / 1.0 );
  --lr-ref-palette-primary30: hsl(198 67% 41% / 1.0 );
  --lr-ref-palette-primary40: hsl(200 70% 50% / 1.0 );
  --lr-ref-palette-primary50: hsl(203 77% 58% / 1.0 );
  --lr-ref-palette-primary60: hsl(205 88% 62% / 1.0 );
  --lr-ref-palette-primary70: hsl(203 83% 79% / 1.0 );
  --lr-ref-palette-primary80: hsl(200 70% 85% / 1.0 );
  --lr-ref-palette-primary90: hsl(198 65% 87% / 1.0 );
  --lr-ref-palette-primary95: hsl(195 55% 90% / 1.0 );
  --lr-ref-palette-primary99: hsl(190 37% 93% / 1.0 );

  --lr-ref-palette-secondary10: hsl(178 63% 10% / 1.0 );
  --lr-ref-palette-secondary20: hsl(178 63% 15% / 1.0 );
  --lr-ref-palette-secondary30: hsl(178 63% 24% / 1.0 );
  --lr-ref-palette-secondary40: hsl(178 63% 32% / 1.0 );
  --lr-ref-palette-secondary50: hsl(178 63% 41% / 1.0 );
  --lr-ref-palette-secondary60: hsl(178 63% 50% / 1.0 );
  --lr-ref-palette-secondary70: hsl(178 63% 60% / 1.0 );
  --lr-ref-palette-secondary80: hsl(178 63% 70% / 1.0 );
  --lr-ref-palette-secondary90: hsl(178 63% 80% / 1.0 );
  --lr-ref-palette-secondary95: hsl(178 63% 89% / 1.0 );
  --lr-ref-palette-secondary99: hsl(178 63% 93% / 1.0 );

  --lr-ref-palette-tertiary10: hsl(272 65% 11% / 1.0 );
  --lr-ref-palette-tertiary20: hsl(272 65% 21% / 1.0 );
  --lr-ref-palette-tertiary30: hsl(272 65% 32% / 1.0 );
  --lr-ref-palette-tertiary40: hsl(272 65% 43% / 1.0 );
  --lr-ref-palette-tertiary50: hsl(272 65% 53% / 1.0 );
  --lr-ref-palette-tertiary60: hsl(272 65% 62% / 1.0 );
  --lr-ref-palette-tertiary70: hsl(272 65% 71% / 1.0 );
  --lr-ref-palette-tertiary80: hsl(272 65% 80% / 1.0 );
  --lr-ref-palette-tertiary90: hsl(272 65% 89% / 1.0 );
  --lr-ref-palette-tertiary95: hsl(272 65% 95% / 1.0 );
  --lr-ref-palette-tertiary99: hsl(272 65% 99% / 1.0 );

  --lr-ref-palette-primary-compliment10: hsl(from var(--lr-ref-palette-primary10) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment20: hsl(from var(--lr-ref-palette-primary20) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment30: hsl(from var(--lr-ref-palette-primary30) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment40: hsl(from var(--lr-ref-palette-primary40) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment50: hsl(from var(--lr-ref-palette-primary50) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment60: hsl(from var(--lr-ref-palette-primary60) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment70: hsl(from var(--lr-ref-palette-primary70) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment80: hsl(from var(--lr-ref-palette-primary80) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment90: hsl(from var(--lr-ref-palette-primary90) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment95: hsl(from var(--lr-ref-palette-primary95) calc(h + 200) s l / 1.0 );
  --lr-ref-palette-primary-compliment99: hsl(from var(--lr-ref-palette-primary99) calc(h + 200) s l / 1.0 );

  --lr-ref-palette-secondary-compliment10: hsl(from var(--lr-ref-palette-secondary10) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment20: hsl(from var(--lr-ref-palette-secondary20) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment30: hsl(from var(--lr-ref-palette-secondary30) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment40: hsl(from var(--lr-ref-palette-secondary40) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment50: hsl(from var(--lr-ref-palette-secondary50) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment60: hsl(from var(--lr-ref-palette-secondary60) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment70: hsl(from var(--lr-ref-palette-secondary70) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment80: hsl(from var(--lr-ref-palette-secondary80) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment90: hsl(from var(--lr-ref-palette-secondary90) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment95: hsl(from var(--lr-ref-palette-secondary95) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-secondary-compliment99: hsl(from var(--lr-ref-palette-secondary99) calc(h + 180) s l / 1.0 );

  --lr-ref-palette-tertiary-compliment10: hsl(from var(--lr-ref-palette-tertiary10) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment20: hsl(from var(--lr-ref-palette-tertiary20) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment30: hsl(from var(--lr-ref-palette-tertiary30) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment40: hsl(from var(--lr-ref-palette-tertiary40) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment50: hsl(from var(--lr-ref-palette-tertiary50) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment60: hsl(from var(--lr-ref-palette-tertiary60) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment70: hsl(from var(--lr-ref-palette-tertiary70) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment80: hsl(from var(--lr-ref-palette-tertiary80) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment90: hsl(from var(--lr-ref-palette-tertiary90) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment95: hsl(from var(--lr-ref-palette-tertiary95) calc(h + 180) s l / 1.0 );
  --lr-ref-palette-tertiary-compliment99: hsl(from var(--lr-ref-palette-tertiary99) calc(h + 180) s l / 1.0 );

  --lr-ref-palette-error10: hsl(21 100% 9% / 1.0 );
  --lr-ref-palette-error20: hsl(21 100% 19% / 1.0 );
  --lr-ref-palette-error30: hsl(21 100% 28% / 1.0 );
  --lr-ref-palette-error40: hsl(21 100% 38% / 1.0 );
  --lr-ref-palette-error50: hsl(21 100% 47% / 1.0 );
  --lr-ref-palette-error60: hsl(21 100% 58% / 1.0 );
  --lr-ref-palette-error70: hsl(21 100% 69% / 1.0 );
  --lr-ref-palette-error80: hsl(21 100% 80% / 1.0 );
  --lr-ref-palette-error90: hsl(21 100% 91% / 1.0 );
  --lr-ref-palette-error95: hsl(21 100% 95% / 1.0 );
  --lr-ref-palette-error99: hsl(21 100% 99% / 1.0 );
}
